name: App Pipeline
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup frontend Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Build Frontend
        working-directory: frontend
        run: |
          npm ci --prefer-offline
          npm run build

      - name: Setup CDK Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: infra/package-lock.json

      - name: CDK setup
        working-directory: infra
        run: |
          npm ci --prefer-offline

      - name: CDK synth
        working-directory: infra
        run: |
          npm run cdk synth -- -o dist

      - name: Upload CDK artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cdk-dist
          path: infra/dist

      - name: Upload Frontend artifacts
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: frontend/dist
